[Unit]
Description = Simple systemd service 

[Service]
Type = simple
ExecStart = /home/mkfan/Drivers/pz3/f_service.sh

[Install]
WantedBy = multi-user.target
